@media print {


body{
    font: 22px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
}

header, footer {
    display: none;
  }

div.container{
    width:100%;
    margin-top:0px;
   margin-left: 0px;
  margin-right: 0px;
    display: flex;
}

#gencon{
    visibility: hidden;
}

button.gencon{
    visibility: hidden;
}

a.button2{
    visibility: hidden;
}

.container1 * {
    visibility: hidden;
}


.container3 * {
    visibility: hidden;
}


  @page {
    margin-left: 0in;
    margin-right: .25in;
  }


}